#body{
  width: 100%;

  position: absolute;
  z-index: -1;
}

#body #jumbo{
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;

  background-image: url("../img/JumboImg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#body #jumbo .transparencia{
  height: 100vh;
  width: 100%;
  background-color:	#233644;
  opacity: 0.6;

  position: absolute;
}

#body #jumbo .container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#body #jumbo .text{
  text-align: center;
  color: white;
}

#body #jumbo h1{
  font-size: 100px;
  font-weight: 400;
  font-stretch: ultra-condensed;
}

#body #jumbo .descripcion{
  font-size: 27px;
  font-family: 'Vollkorn', serif;
}

#body .leerMas{
  font-size: 18px;
  height: 40px;
  width: 250px;
  border-radius: 10px;
  border-color: white;
  z-index: 1;
  background: none;
  color: white;

  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%,0);
}

#body .leerAlgo{
  opacity: 0.7;
}

#body #verCv{
  height: 100%;
  width: 15%;
  font-size: 18px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-color: white;
  background: none;
  display: inline-block;
  color: white;
}

#body #leerMenos{
  height: 100%;
  width: 83%;
  font-size: 18px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: white;
  background: none;
  display: inline-block;
  color: white;
}

#body .leerAlgo:hover{
  opacity: 1;
}

#body #menos {
  display: none;
}
