.entrevistas{
  margin-top: 100px;
}

.card{
  width: 60%;
  margin-left: 20%;
}

.cita{

  font-size: 23px;
  font-family: 'Vollkorn', serif;
  color: green;
}

.card-img-top{
  height: 275px;
}

#entrevistaRitaImg {
  width: 85%;
  margin-left: 7.5%;
  height: 280px;
}

#entrevistaRitaImg img {
  width: 100%;
  height: 100%;
}

#entrevistaSebastianImg {
  width: 85%;
  height: 280px;
  margin-left: 7.5%;
}

#entrevistaSebastianImg img{
  width: 100%;
  height: 100%;
}

#entrevistaSantiagoImg {
  width: 85%;
  margin-left: 7.5%;
  height: 280px;
}

#entrevistaSantiagoImg img {
  width: 100%;
  height: 100%;
}

#entrevistaFabianImg {
  width: 85%;
  margin-left: 7.5%;
  height: 280px;
}

#entrevistaFabianImg img{
  width: 100%;
  height: 100%;
}
