body{
  width: 100%;
  height: auto;
}

#head{
  height: 56px;
  width: 100%;
  z-index: 10;

  position: fixed;
}

#head .navbar a{
  font-family: serif;
  font-size: 20px;
  color: white;
}

#head .navbar {
  background-color: rgba(10, 167, 177, 0.5) !important;

}
