#trabajoBusqueda{
  margin-top: 50px;
}
#trabajoBusquedaImg{
  width: 100%;
  margin-top: 50px;
}

#trabajoBusquedaImg img{
  width: 90%;
  margin-left: 5%;
}

#trabajoCartaImg{
  width: 100%;
  margin-top: 30px;
}

#trabajoCartaImg img{
  width: 90%;
  margin-left: 5%;
}

#Anuncios{
  text-align: center;
  opacity: 1;
  width: 70%;
  margin-left: 15%;
}

#Anuncios p{
  text-align: center;
}

#Carta {
  opacity: 1;
  width: 70%;
  margin-left: 15%;
}

#Cv{
  opacity: 1;
  width: 70%;
  margin-left: 15%;
}

#curriculumImg {
  width: 40%;
}

#curriculumImg img{
  width: 100%;
}
